<div class="container">
    <div class="page-header">
        <H1>
            <span class="material-icons">
            help
            </span>
            <%= I18n.t("help.index.titre").capitalize %>
        </H1>
    </div>    
</div>