<div class="container">
    <p>
        <%= paginate @services, remote: true %>
    </p>
    <div class="row">
        <%= render @services %>
    </div>
    <p>
        <%= paginate @services, remote: true %>
    </p>
</div>