<div clas="container">
    <div class="row">
        <%= paginate @services, remote: true %>
    </div>
    <div class="row">
        <%= render @services %>
    </div>
    <div class="row">
        <%= paginate @services, remote: true %>
    </div>
</div>