<div class="container">
    <div class="page-header">
    <h1>
        <span class="label label-warning">
            <i class="material-icons">data_usage</i>
            Disk Usage
        </span>
    </h1>
    </div>
</div>

<div class="container">

    <div class="row">

        <%= render :partial => "disk_usage_block", :locals => {
            point: "TOTAL",
            disk_space: @total[:disk_space],
            used: @total[:used],
            available: @total[:available],
            percentage: @total[:percentage].to_s + "%"
        } %>

        <% @mounts.each do |m| %>
            <% mount = m[1] %>
            <%= render :partial => "disk_usage_block", :locals => {
                point: mount[:point],
                disk_space: mount[:disk_space],
                used: mount[:used],
                available: mount[:available],
                percentage: mount[:percentage]
            } %>
        <% end %>
    </div>
    
</div>
