<div class="container">
    <p>
        <%= paginate @blog_messages, remote: true %>
    </p>
    
    <% @last_date = nil %>
    <table class="table">
        <%= render @blog_messages %>
    </table>

    <p>
        <%= paginate @blog_messages, remote: true %>
    </p>
</div>