<% session[:page_aide] = "blog_messages" %>

<%= render "header" %>

<div class="container">
    
    <!-- TOOLBAR -->
    <%= render "toolbar" %>    

    <!-- MESSAGES -->
    <div class="row" id="blog_messages"><%= render 'blog_messages' %></div>

    <!-- NEW ARTICLER -->
    <p><%= link_to '<i class="material-icons">add</i> '.html_safe, 
            new_blog_message_path,
            class: "btn btn-success btn-xs" %>
    </p>
</div>
