<div class="page-header">
<h1>
    <span class="label label-primary">
        <i class="material-icons">message</i>
        <%= I18n.t("messages.index.titre").upcase %>
    </span>
</h1>
</div>
<div class="container">
    <h3>
        <span class="label label-info">
            <%= I18n.t("messages.new.titre").capitalize %>
        </span>
    </h3>
    <%= render "form" %>
</div>