<h1>
    <span class="label label-primary">
        <i class="material-icons">event_busy</i>
        <%= "Fermetures".upcase %>
    </span>
</h1>

<p>
    <%= link_to '<i class="material-icons">add</i> '.html_safe, 
        new_fermeture_path,
        class: "btn btn-success btn-xs" %>
</p>

<div id="fermetures">
    <%= render 'fermetures' %>
</div>

<p>
    <%= link_to '<i class="material-icons">add</i> '.html_safe, 
        new_fermeture_path,
        class: "btn btn-success btn-xs" %>
</p>