<div class="container">
  <h1>New maintenance ressource</h1>

  <%= render "form", maintenance_ressource: @maintenance_ressource %>

  <br>

  <div>
    <%= link_to "Back to maintenance ressources", maintenance_ressources_path %>
  </div>
</div>