<h1>UTILISATEURS</h1>
<table>
    <tr>
        <th>Prenom</th>
        <th>Nom</th>
        <th>Service</th>
        <th>Groupe</th>
        <th></th></tr>
    <% @utilisateurs.each do |utilisateur| %><%= render utilisateur %><% end %>
</table>
<p><%= link_to "[Nouvel utilisateur]", new_utilisateur_path %></p>
