<div class="container">
    <div class="page-header">
        <h1>
            <span class="label label-primary">
                <i class="material-icons">healing</i>
                <%= "Bug repport".upcase %>
            </span>
        </h1>
    </div>
    <div class="container">
        <%= render "form" %>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <hr>
            <span class = "label label-danger" > DELETE REPPORT
            <%= link_to '<span data-toggle="tooltip" >
                <i class="material-icons">close</i>'.html_safe, 
                bug_report_path(@bug_report),
                method: :delete,
                remote: true,
                data: { confirm: "Delete #{@bug_report.date}/#{@bug_report.date_fin}  ?" },
                class: "btn btn-danger btn-xs"
            %>
            </span>
        </div>
    </div>
    <hr>

</div>