<%= render partial: "titre_template" %>
<div class="container">
    <%= render partial: "titre_template" %>
    <h3>
        <span class="label label-info">
            <%= I18n.t("templates.edit.edit_template").upcase %>
        </span>
    </h3>
    <%= render "form" %>
</div>
