<h1>
    <span class="label label-info">
        <i class="material-icons">today</i>
        <%= "#{nom_jour(@date.cwday)} #{I18n.localize @date, format: :long}" %>
    </span>
</h1>

<div class="flex-menu-day">
    
    <!-- MENU NAVIGATION -->
    <div style="flex: 0 0 120px">
        <div class="btn-group">
            <%= link_to '<span data-toggle="tooltip"  >
                            <i class="material-icons">chevron_left</i></span>'.html_safe, 
                            today_path(date: @date-1.day), 
                            class: "btn btn-success btn-xs" %>
            <%= link_to '<span data-toggle="tooltip" >
                            <i class="material-icons">adjust</i></span>'.html_safe, 
                            today_path(date: Date.today), 
                            class: "btn btn-success btn-xs" %>
            <%= link_to '<span data-toggle="tooltip" >
                            <i class="material-icons">chevron_right</i></span>'.html_safe, 
                            today_path(date: @date+1.day), 
                            class: "btn btn-success btn-xs" %>
        </div>
    </div>
</div>