<h1>
    <span class="label label-primary">
        <i class="material-icons">build</i>
        <%= I18n.t("works.index.titre").upcase %>
    </span>
</h1>

<p>
<% if user_signed_in? && current_user.admin? %>
    <%= link_to '<i class="material-icons">add</i> '.html_safe, 
        new_work_path,
        class: "btn btn-success btn-xs" %>
        <% end %>
</p>

<div id="works">
    <%= render 'works' %>
</div>

<p>
<% if user_signed_in? && current_user.admin? %>
    <%= link_to '<i class="material-icons">add</i> '.html_safe, 
        new_work_path,
        class: "btn btn-success btn-xs" %>
        <% end %>
</p>
