<table class="table">
    <tr>
        <th>Utilisateur</th>
        <th>Date Lundi</th>
        <th>Numéro du jour</th>
        <th>Works</th>
        <th></th>
    </tr>
    <%= render @ajouts %>
</table>