<table class="table table-condensed">
    <thead>
      <tr>
        <th>Utilisateur</th>
        <th>Lundi</th><th>Mardi</th><th>Mercredi</th>
        <th>jeudi</th><th>Vendredi</th>
    </tr>
    </thead>
    <tbody>
        <% if @semaines %>
        <% @semaines.each do |semaine| %>
        <tr>
            <td>
                <%= semaine.utilisateur.prenom_nom %>
            </td>
            <% 5.times do |n| %>
                <% n += 1 %>
                <td>
                    <% semaine.jobs.where(numero_jour: n).each do |job| %>
                        
                            <%= am_pm(job.am_pm) %> : 
                            <% job.working_lists.each do |wl| %>
                                <span class="badge">
                                    <%= wl.work.code %>
                                </span>
                            <% end %>
                        
                    <% end %>
                </td>
            <% end %>
        </tr>
        <% end %>
        <% end %>
    </tbody>
</table>