
<div class="row">
    <div class="col-sm-4">
        <%= form.label "Template" %>
        <%= form.select(:template, @templates.collect {|p| [ "(#{@service[p.service_id]})  -  #{p.nom}", p.id ] }, 
                        { include_blank: true },
                        { :multiple => false }) %>
    </div>
</div>