<div class="container">
<h1>
    <span class="label label-primary">
        <i class="material-icons">today</i>
        <%= I18n.t("ajouts.index.titre").upcase %>
    </span>
</h1>

<p>
    <%= link_to '<i class="material-icons">playlist_add</i>'.html_safe, 
        new_ajout_path,
        class: "btn btn-success btn-xs" %>
</p>

<div class="container">
    <%= render 'ajouts' %>
</div>

<p>
    <%= link_to '<i class="material-icons">playlist_add</i>'.html_safe, 
        new_ajout_path,
        class: "btn btn-success btn-xs" %>
</p>
</div>