
<div class="row grille">
    <table class="table-condensed table table-bordered table-striped table-responsive">
        <thead>
        <tr>
            <th><%= Date.today.year %></th>
            <% 5.times do |n| %>
                <th><%= nom_jour(n+1) %></th>
            <% end %>
        </tr>
        </thead>
        
        <tbody>
            <% @semaines.each do |semaine| %>
                <tr>
                    <td>
                        <strong>
                            <%= "#{prenom_nom(semaine.utilisateur)}" %>
                        </strong>
                    </td>
                    <% 5.times do |n| %>
                        <td>
                            <% semaine.jobs.where(numero_jour: "#{n+1}").each do |j| %>
                                <% unless !j.working_lists.first %>
                                    <% j.working_lists.each do |jj| %>
                                        <%= jj.work.code %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<br>