<h1>
    <span class="label label-danger">
        <i class="material-icons">view_week</i>
        <%= "Jobs".upcase %>
    </span>
</h1>

<p>
    <%= link_to '<i class="material-icons">add</i> '.html_safe, 
        new_job_path,
        class: "btn btn-success btn-xs" %>
</p>

<div id="jobs">
    <%= render 'jobs' %>
</div>

<p>
    <%= link_to '<i class="material-icons">add</i> '.html_safe, 
        new_job_path,
        class: "btn btn-success btn-xs" %>
</p>
