 <div clas="container">
    <div class="row">
        <%= paginate @lieus, remote: true %>
    </div>
    <div class="row">
        <%= render @lieus %>
    </div>
    <div class="row">
        <%= paginate @lieus, remote: true %>
    </div>
</div>