<div class="page-header">
<h1>
    <span class="label label-primary">
        <i class="material-icons">location_city</i>
        <%= I18n.t("lieus.index.titre").upcase %>
    </span>
</h1>
</div>
<div class="container">
    <h3>
        <span class="label label-info">
            <%= @lieu.nom.capitalize %> - <em><%= I18n.t("lieus.edit.nom") %></em>
        </span>
    </h3>
    <%= render "form" %>
</div>