<div class="page-header">
    <h1>
        <span class="label label-primary">
            <i class="material-icons">location_city</i>
            <%= "Lieux".upcase %>
        </span>
    </h1>
</div>

<div class="container">
    <p>
        <%= link_to '<i class="material-icons">add_location</i> '.html_safe, 
            new_lieu_path,
            class: "btn btn-success btn-xs" %>
    </p>
    <div class="row" id="lieus">
        <%= render 'lieus' %>
    </div>
    <p>
        <%= link_to '<i class="material-icons">add_location</i> '.html_safe, 
            new_lieu_path,
            class: "btn btn-success btn-xs" %>
    </p>
</div>