<h1>
    <span class="label label-danger">
        <i class="material-icons">list_alt</i>
        <%= "Working Lists".upcase %>
    </span>
</h1>

<h3><span class="label label-warning"><%= I18n.t("working_list.edit.titre") %></span></h3>
<%= render "form" %>