<h1>WORKING LISTS PAR JOB</h1>
<h2>Job #<%= @job.id %></h2>
<div id="working_lists">
    <%= render 'working_lists' %>
</div>
<p><%= link_to "[Nouveau working_list]", "#{new_working_list_path}/#{@job.id}" %></p>
