<div class="container">
<div class="page-header">
<h1>
    <span class="label label-primary">
        <%= I18n.t("reviewcats.index.titre").upcase %>
    </span>
</h1>
</div>
<%= render "form" %>
</div>