<p><%= paginate @lien_utilisateur_services, remote: true %></p>
<table class="table">
    <tr>
        <th>#ID</th>
        <th>User</th>
        <th>Primary</th>
        <th>Secondary</th>
        <th></th></tr>
    <%= render @lien_utilisateur_services %>
</table>
<p><%= paginate @lien_utilisateur_services, remote: true %></p>