<h1>
    <span class="label label-danger">
        <i class="material-icons">list_alt</i>
        <%= "lien utilisateur service".upcase %>
    </span>
</h1>

<h3><span class="label label-warning">NEW</span></h3>

<%= render "form" %>