<div class="container">

<p style="color: green"><%= notice %></p>

<h1>Traceurs</h1>

<div id="traceurs" class="row">
  <% @traceurs.each do |traceur| %>
    <div class="panel panel-default col-xs-4 col-sm-3" id="<%= dom_id traceur %>">
    <div class="panel-body">
      <%= render traceur %>
    </div>
    </div>
  <% end %>
</div>

<%= link_to "New traceur", new_traceur_path %>
<div class="conatiner">