
<div class="col-sm-6 col-md-4">
    <div class="btn-group btn-group-justified">
        <a href="<%= traceurs_path %>" class="btn btn-xs btn-danger" role="button">
            <i class="material-icons">science</i><br>
            Traceurs
        </a>
        <a href="<%= prod_units_path %>" class="btn btn-xs btn-danger" role="button">
            <i class="material-icons">straighten</i><br>
            Units
        </a>
        <a href="<%= prod_destinations_path %>" class="btn btn-xs btn-danger" role="button">
            <i class="material-icons">contact_mail</i><br>
            Destinations
        </a>
        <a href="<%= productions_path %>" class="btn btn-xs btn-danger" role="button">
            <i class="material-icons">factory</i><br>
            Productions
        </a>
    </div>
</div>
