<ul>
    <% @maintenances.each do |maintenance| %>
        <% ressource = maintenance.maintenance_ressource %>
        <% if current_user.utilisateur.services.include?(ressource.service) or is_super_admin? %>
            <li>
                <% if maintenance.isToday? %>
                    Maintenance : <span class="label label-success"><%= ressource.name %></span>    
                <% end %>
                <%  if maintenance.date_start > Date.today and maintenance.contact_id == current_user.utilisateur.id %>
                    <% bg = "warning" if maintenance.isWithinTwoWeeks? %>
                    <% bg = "danger" if maintenance.isWithinFiveDays? %>
                    Maintenance : <span class="label label-<%= bg %>"><%= ressource.name %></span>
                    <small>(<%= maintenance.date_start %>)</small>
                <% end %>
            </li>
        <% end %>
    <% end %>
</ul>