
<% if @tasks[Date.today.cweek] %>
    <%= "TASK : " %>
    <% @tasks[Date.today.cweek].each do |tsk| %>
        <%= "<span class='label label-warning'
            data-toggle='tooltip' 
            title='#{tsk.last}'>
            #{link_to tsk.first, hebdos_path()}
            </span>&nbsp;".html_safe
        %>
    <% end %>
<% end %>
