<% if @messages %>
    <% @messages.each do |message| %>
        <% if (current_user.utilisateur.services.include?(message.service) or is_super_admin?) %>
            <div>
                <span class="label label-primary"><%= message.service.nom %></span>
                <%= message.note.capitalize %>
            </div>
        <% end %>
    <% end %>
<% end %>