<br><div class="row">
    <div class="well well-sm">
        Lately connected : 
        <% @last_connects.each do |last_connect| %>
            <% unless last_connect.utilisateur.nil? and last_connect.last_connection.nil? %>
                <%= last_connect.utilisateur.prenom_nom %> (<%= time_ago_in_words(last_connect.last_connection) %>) &nbsp;&nbsp;&nbsp;
            <% end %>
        <% end %>
    </div>
</div>