<div class="col-md-4">
    <h3><%= date_localized %></h3>
    <article>

        <!-- Messages -->
        <article><%= render partial: "comm_messages" %></article>

        <!-- Absences -->
        <article><%= render partial: "comm_absences" %></article>
        

        <!-- Events -->
        <article><%= render partial: "comm_events" %></article>
        
    </article>
    <br>
</div>