<div class="col-md-4">

    <article>

        <!-- Tâches -->
        <article><%= render partial: "comm_tasks" %></article>

        <!-- Messages -->
        <article><%= render partial: "comm_messages" %></article>

        <!-- Absences -->
        <article><%= render partial: "comm_absences" %></article>
        
        <!-- Events -->
        <article><%= render partial: "comm_events" %></article>
        
    </article>
    
    <br>
</div>