
<div class="btn-group">
    <a href="<%= grille_path %>" class="btn btn-warning" role="button">
        <i class="material-icons">healing</i><br>
        <%= I18n.t("home.index.managing_absences") %>
    </a>
</div>