<div class=" col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <article class="text-muted">
                <%= I18n.t("home.index.no_schedule") %>
            </article>
        </div>
        <div class="panel-footer"></div>
    </div>
</div>