<div class="container-fluid">

    <div class="row">

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="panel panel-warning">
                <div class="panel-heading">Panel with panel-warning class</div>
                <div class="panel-body">
                    <span class="label label-danger">Urgent</span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="panel panel-warning">
                <div class="panel-heading">Panel with panel-warning class</div>
                <div class="panel-body">
                    <span class="label label-warning">ASAP</span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="panel panel-warning">
                <div class="panel-heading">Panel with panel-warning class</div>
                <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod

                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="panel panel-warning">
                <div class="panel-heading">Panel with panel-warning class</div>
                <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod

                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">Panel with panel-warning class</div>
                <div class="panel-body">
                    <span class="label label-info">Taken</span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod

                    <hr>
                    <span class="text-info">Taken by Salim</span>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">Panel with panel-warning class</div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    <hr>
                    <span class="text-success">Done by Salim</span>
                </div>
            </div>
        </div>
    </div>
</div>