<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">ORGA</h1>
            <p class="lead">
                <%= "#{I18n.t("home.index.welcome")} #{current_user.utilisateur.prenom if (user_signed_in? && current_user.utilisateur) }".upcase %>
            </p>
        </div>
    </div>
    <%= render "today" if user_signed_in? %>
    <%= render "barre_menu" if user_signed_in? %>

    <%= render "last_connects" if user_signed_in? and current_user.utilisateur.admin %>
</div>

