<div class="container">
<div class="page-header">
<h1>
    <span class="label label-primary">
        <i class="material-icons">event_available</i>
        <%= I18n.t("events.index.titre").upcase %>
    </span>
</h1>
</div>
<div class="container">
    <%= render "form" %>
</div>
</div>