<% session[:page_aide] = "events" %>

<div class="container">
<h1>
    <span class="label label-primary">
        <i class="material-icons">event_available</i>
        <%= I18n.t("events.index.titre").upcase %>
    </span>
</h1>

<%= render partial: "add" %>

<div id="events"><%= render 'events' %></div>

<%= render partial: "add" %>
</div>