<p><%= paginate @classes, remote: true %></p>
<table class="table table-striped">
    <tr><th>Nom</th><th>Description</th><th></th></tr>
    <%= render @classes %>
</table>
<p><%= paginate @classes, remote: true %></p>