<div class="container">
    <h1>
        <span class="label label-primary">
            <i class="material-icons">analytics</i>
            <%= I18n.t("logs.index.titre").upcase %>
        </span>
    </h1>
    <div id="log_repports">
        <%= render 'log_repports' %>
    </div>
</div>