<% semaine_en_arriere = 6 %>
<% semaine_en_avant = 4 %>
<% date_depart = Date.today - semaine_en_arriere.weeks %>
<% nombre_semaines_a_lire = 52 + semaine_en_arriere + semaine_en_avant %>
<div class="row grille">
    <table class="table-condensed table table-bordered table-striped table-responsive">
        <thead>
        <tr>
            <th><%= Date.today.year %></th>
            <th></th>
        </tr>
        </thead>
        
        <tbody>
        <% nombre_semaines_a_lire.times do |n_semaine| %>
            <% semaine_parcourue = (date_depart+n_semaine.weeks) %>
            <% couleur_ligne_semaine = ("#{Date.today.cweek}-#{Date.today.year}"=="#{semaine_parcourue.cweek}-#{semaine_parcourue.year}") ? "warning" : "default" %>
            <tr class=<%= "#{couleur_ligne_semaine}" %>>
                <% numero_semaine = "#{semaine_parcourue.cweek<10 ? '0' : ''}#{semaine_parcourue.cweek}" %>
                <td><%= "#{numero_semaine}" %></td>
                <td>
                    <!-- Liste des semaines utilisateurs attribués -->
                    <% @semaines.where(numero_semaine: "#{semaine_parcourue.year}-W#{numero_semaine}").each do |s| %>
                        <span class="label label-default tab-cell">
                            <%= prenom_nom(s.utilisateur) %>
                        </span>                       
                    <% end %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>