<div class="container">
    <div class="row grille">
        <table class="table-condensed table table-bordered table-striped table-responsive">        
            <tbody>
                <tr>
                    <td>
                        <% @semaines.each do |semaine| %>
                            <!-- Liste des semaines utilisateurs attribués -->
                            <span class="label label-primary tab-cell">
                                <%= prenom_nom(semaine.utilisateur) %>
                            </span>
                        <% end %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>