
<!-- Table paginée -->
<p><%= paginate @semaines, remote: true %></p>
<table>
    <tr>
        <th>#</th>
        <th>Date Lundi</th>
        <th>Utilisateur</th>
        <th>Slug</th>
        <th>Note</th>
        <th></th>
    </tr>
    <%= render @semaines %>
</table>
<p><%= paginate @semaines, remote: true %></p>