<h1>
    <span class="label label-danger">
        <i class="material-icons">view_day</i>
        <%= "Semaines".upcase %>
    </span>
</h1>

<h3><span class="label label-warning">Nouvelle semaine</span></h3>

<%= render "form" %>