<div class="row grille">

 <table class="table-condensed table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>Utilisateurs</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            <% @jobs.keys.each do |key| %>
                <tr>
                    <td><%= prenom_nom(key) %></td>
                    <td>
                        <% @jobs[key].each do |job| %>
                            <% wls = job.working_lists %>
                            <% if wls.count<1 %>
                                <em>Aucune attribution pour ce job.</em>
                            <% else %>
                                <% wls.each do |wl| %>
                                    <%= wl.work.code %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </td>
                    <td>

                    </td>
                </tr>
            <% end %>
                
        </tbody>
    </table> 
</div>