<h1>AGENDAS</h1>
<p>Liste des différents agendas disponibles</p>

<!-- MENU -->
<ul>
    <li><%= link_to "Absences", agendas_absences_path %></li>
    <li><%= link_to "Congés", agendas_conges_path %></li>
    <li><%= link_to "Semaines", agendas_semaines_path %></li>
    <li><%= link_to "Jobs", agendas_jobs_path %></li>
</ul>