<tr>
    <td><%= type_absence.nom %></td>
    <td><%= type_absence.description %></td>
    <td>
        <%= link_to " [Show] ", type_absence_path(type_absence) %>
        <%= link_to " [Edit] ", edit_type_absence_path(type_absence) %>
    </td>
</tr>