<p><%= paginate @type_absences, remote: true %></p>
<table class="table table-striped">
    <tr>
        <th>Code</th>
        <th>Nom</th>
        <th>Description</th>
        <th></th>
    </tr>
    <%= render @type_absences %>
</table>
<p><%= paginate @type_absences, remote: true %></p>