<div class="page-header">
    <h1>
        <span class="label label-primary">
            <i class="material-icons">healing</i>
            <%= "Absences".upcase %>
        </span>
    </h1>
</div>
<div class="container">
    <h3>
        <span class="label label-info">
            <%= "Nouveau type d'absence".capitalize %>
        </span>
    </h3>
    <%= render "form" %>
</div>