<td class="tdfixe3 <%= bg %>">
    <% dd = date_jour.to_s %>

    <%= abs[0] unless abs.nil? %>
    

    <!-- Works -->
    <% [false, true].each do |ap| %>
        <% unless @jours[service][utilisateur][dd].nil? %>
            <% unless @jours[service][utilisateur][dd][ap].nil? %>
                <% wl_service = @jours[service][utilisateur][dd][ap][0] %>
                <% wl = @jours[service][utilisateur][dd][ap][1] %>

                    <% if wl == 0 %><span class="label label-info"><strong><%= @values[wl] %></strong></span><% end %>
                    <% if wl == 1 %><span class="label label-danger"><strong><%= @values[wl] %></strong></span><% end %>
                    
                
            <% else %>
                <!-- TODO -->
            <% end %>
        <% else %>
        <% end %>
    <% end %>

    


    <% bg = "" %>
</td>