 <div class="container">
     <p>
         <%= paginate @lieus, remote: true %>
     </p>
     <div class="row">
         <%= render @lieus %>
     </div>
     <p>
         <%= paginate @lieus, remote: true %>
     </p>
 </div>