<tr class="tdfixe3"> 
    <td class="tdfixe">
        <strong><%= utilisateur.prenom_nom %></strong>
    </td>

    <% ((@date2-@date).to_i).times do |index| %>
        <% date_jour = (@date + index.day) %>
        <% bg = "" %>
        

        <!-- Si Weekend... -->        
        <% if date_jour.wday==6 %>
            <td class="weekend"></td>
        <% end %>

        <!-- Si Jour de semaine ... -->
        <% if (1..5).include?(date_jour.wday) %>

            <!-- Jour de semaine "normal" -->
            <% if date_jour == Date.today %>
                <!-- Si jour est date actuelle on jauni le fond ... -->
                <% bg = "today" %>
            <% end %>

            

            <!-- service ouvert... -->
        
            <!-- mais utilisateur en congé-->
            <% unless @absences[utilisateur.id].nil? %>
                <% var_abs = @absences[utilisateur.id][date_jour.to_s] %>
                <% if @absences[utilisateur.id].keys.include?(date_jour.to_s) %>
                    <% if @absences[utilisateur.id][date_jour.to_s][0] %>
                        <% bg = "conge_ok" %>
                    <% else %>
                        <% bg = "conge_wait" %>
                    <% end %>
                <% end %>
            <% else %>
                <!-- Jour de semaine "normal" -->
                <% if date_jour == Date.today %>
                    <!-- Si jour est date actuelle on jauni le fond ... -->
                    <% bg = "today" %>
                <% end %>
            <% end %>

            <!-- service fermé... -->
            <% unless @fermetures[service.id].nil? %>
                <% unless @fermetures[service.id][date_jour.to_s].nil? %>
                    <!-- <td class="ferie"></td> -->
                    <% bg = "ferie" %>
                <% end %>
            <% end %>
            

            <!-- On affiche la cellule du jour -->
            <%= render partial: "cellule_jour_secr_pet", locals: { 
                bg: bg,
                date_jour: date_jour,
                service: service,
                utilisateur: utilisateur,
                abs: var_abs
             } %>
             

        <% end %>
    <% end %>
</tr>