<tr>
    <td class="nom_utilisateur"></td>

    <% ((@date2-@date).to_i).times do |i| %>
        <% if (@date + i.day).wday==1 %>
            <td colspan="6">
                <%= "##{(@date + i.day).cweek}" %>
            </td>
        <% end %>
    <% end %>
</tr>