<% wls.each do |wl| %>
    <% cl = "" %>
    <% work = wl.work %>
    <% if work.code.downcase=="qc" && @date.cwday==5 %>
        <% cl = "keep_attention" %>
    <% end %>
    <span class="label label-<%= label %> <%= cl %>"
        data-toggle="tooltip" 
        title='<%= "#{work.nom}" %>'
        >
        <%= work.code %>
    </span>
    &nbsp;
<% end %>