<% if @events[service.id] %>
    <div>
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start;">
            <% @events[service.id].each do |event| %>
                <div style="padding: 0.2em 0.5em;">
                    <span class="label label-info">
                        <%= I18n.localize event.date, format: :long %>
                    </span>
                    &nbsp;&nbsp;
                    <strong>
                        <%= event.nom.capitalize %> : 
                    </strong>
                    <%= event.note %>
                </div>
            <% end %>
        </div>
    </div>
    
<% end %>