<% unless @events[service.id].nil? %>
    <% if @current_service.nil? or @current_service.id == service.id %>
        <article>
        <% @events[service.id].each do |event| %>
            <span class="label label-info">
                <%= I18n.localize event.date, format: :long %>
            </span>
            &nbsp;&nbsp;
            <strong>
                <%= event.nom.capitalize %> : 
            </strong>
            <%= event.note %><br>
        <% end %>
        </article>
        <br>
    <% end %>
<% end %>