<div class="page-header">
<h1>
    <span class="label label-primary">
        <i class="material-icons">location_city</i>
        <%= "Jour".upcase %>
    </span>
</h1>
</div>
<div class="container">
    <h3>
        <span class="label label-info">
            <em>Edition</em>
        </span>
    </h3>
    <%= render "form" %>
</div>