<div class="page-header">
    <h1>
        <span class="label label-danger">
            <i class="material-icons">location_city</i>
            <%= I18n.t("jours.index.titre").upcase %>
        </span>
    </h1>
</div>

<div class="container">
    <p>
        <%= link_to '<i class="material-icons">add</i> '.html_safe, 
            new_jour_path,
            class: "btn btn-success btn-xs" %>
    </p>
    <div class="row" id="lieus">
        <%= render 'jours' %>
    </div>
    <p>
        <%= link_to '<i class="material-icons">add</i> '.html_safe, 
            new_jour_path,
            class: "btn btn-success btn-xs" %>
    </p>
</div>