<% session[:page_aide] = "today" %>

<% @last_service = nil %>
<% last_groupe = nil %>
<% last_utilisateur = nil %>

<div class="container">

    <!-- TITRE DATE DU JOUR -->
    <%= render partial: "header_day"  %>
    
    <!-- Par service... -->
    <% @specific_day_jours.keys.each do |service| %>

        <!-- Changement de service -->
        <%= render partial: "nom_service_day", locals: { service: service } %>

        <!-- Changement d'utilisateur -->
        <% @specific_day_jours[service].keys.each do |utilisateur| %>
            <% if utilisateur != last_utilisateur %>
                <% last_utilisateur = utilisateur %>
            <% end %>

            <!-- Dessine la boîte -->
            <div class="col-sm-4">            
                <%= render partial: "box_day", locals: { 
                        specific_day_jour: @specific_day_jours[service][utilisateur],
                        utilisateur: utilisateur,
                        note: @specific_day_jours[service][utilisateur]["notes"]
                    } 
                %>
            </div>

        <% end %>
        
    <% end %>
</div>


