<h1>
    <span class="label label-info">
        <i class="material-icons">today</i>
        <%= "#{nom_jour(@date.cwday)} #{I18n.localize @date, format: :long}" %>
    </span>
</h1>
<%= render 'specific_day_jours' %>
