<div class="page-header">
<h1>
    <span class="label label-primary">
        <i class="material-icons">beach_access</i>
        <%= "Congés".upcase %>
    </span>
</h1>
</div>
<div class="container">
    <%= render "form" %>
</div>