<div class="container"><h1>New prod destination</h1>

<%= render "form", prod_destination: @prod_destination %>

<br>

<div>
  <%= link_to "Back to prod destinations", prod_destinations_path %>
</div>
</div>