<p><%= paginate @absences, remote: true %></p>
<table>
    <tr><th>Date</th><th>Type</th><th>Remarque</th><th></th></tr>
    <%= render @absences %>
</table>
<p><%= paginate @absences, remote: true %></p>