
<!-- Grille des absences -->
<%= render 'grille', local: @conges %>

<!-- Table paginée -->
<p><%= paginate @absences, remote: true %></p>
<table>
    <tr>
        <th>Date</th>
        <th>Utilisateur</th>
        <th>Type</th>
        <th>Remarque</th>
        <th></th>
    </tr>
    <%= render @absences %>
</table>
<p><%= paginate @absences, remote: true %></p>