
<!-- Table paginée -->
<p><%= paginate @absences, remote: true %></p>
<table class="table table-striped">
    <tr>
        <th colspan=3>Dates</th>
        <th>Utilisateur</th>
        <th>Type</th>
        <th>Remarque</th>
        <th></th>
    </tr>
    <%= render @absences %>
</table>
<p><%= paginate @absences, remote: true %></p>