<div class="form-group">
    <select class="form-control" id="utilisateur_id" name="utilisateur_id">
        <option></option>
        <% @utilisateurs.each do |utilisateur| %>
            <option value="<%= utilisateur.id %>" >
                [<%= utilisateur.service.nom %>]
                (<%= utilisateur.groupe.nom %>)
                <%= utilisateur.prenom_nom %>
            </option>
        <% end %>
    </select>
    <button type="submit" class="btn btn-default">Submit</button>
</div>