<% session[:page_aide] = "absences_types" %>

<div class="container">

    <%= render partial: "absences/header" %>

    <% if user_signed_in? %>
        <%= link_to '<i class="material-icons">add</i> '.html_safe, new_absence_path,
            class: "btn btn-success btn-xs" %>
    <% end %>

    <div id="absences"><%= render 'absences' %></div>

    <% if user_signed_in? %>
        <%= link_to '<i class="material-icons">add</i> '.html_safe, new_absence_path,
            class: "btn btn-success btn-xs" %>
    <% end %>

</div>