/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $body-bg: white;
 //@import 'bootstrap-sprockets';
 @import "bootstrap";
 @import "**/*";

 * {
    margin: 0;
    padding: 0;
    list-style: none;
}

 body {
     background-color: white;
     font-family: "Montserrat";
 }

 .locale-flag {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 64px;
 }

 .field_with_errors {
     color: red;
 }

 .notice {
     color: green;
     font-style: italic;
 }

 .alert {
     color: orange;
     font-style: italic;
 }

 .tab-1{
	display:inline-block; width:ONE-TAB-WIDTH;
}
.tab-2{
	display:inline-block; width:TWO-TAB-WIDTH;
}
.tab-cell{
    display:inline-block; width:TWO-TAB-WIDTH;
    font-size: larger;
}

.conge_ok {
    background-color: rgb(113, 189, 0);
    color: white;
}
.conge_wait {
    background-color: rgb(198, 255, 123);
    color: green;
    text-align: center;
}
.conge_accord_ok {
    background-color: greenyellow;
    color: green;
}
.conge_accord_wait {
    background-color: red;
   color: white;
}

.grille {
    font-size: 75%;
    margin: 0;
    padding: 0;
    .table {
        margin: 0;
        padding: 0;
    }
}

.center {
    display: flex;
    align-items: center;
}

.absence {
    background-color: rgb(255,183,77);
    color: white;
}

.keep_attention {
    background-color:red;
    color: white;
}

.ferie {
    background-color:grey;
    color: white;
}



.cacher { visibility: hidden; display: none; }
.afficher { visibility: visible; }