

.conge_accord_ok {
    //background-color: greenyellow;
    color: green;
}
.conge_accord_wait {
   color: red;
}

.grille {
    font-size: 75%;
    margin: 0;
    padding: 0;
    .table {
        margin: 0;
        padding: 0;
    }
}