<tr>
    <td><%= groupe.nom %></td>
    <td><%= groupe.description %></td>
    <td>
        <%= link_to " [Show] ", groupe_path(groupe) %>
        <%= link_to " [Edit] ", edit_groupe_path(groupe) %>
    </td>
</tr>