<hr>
<footer>
    <p>
        &copy;2020 Salim A. JOLY - PET Scan ULB Erasme, Cyclotron Biomedical. 
        <em><%= "[Last update : #{@last_git_date}]" unless @last_git_date.nil? %></em>
        
         <% if user_signed_in? && current_user.admin? %>
            === <%= "[#{params}][#{session[:page_aide]}]" %>
        <% end %>

    </p>
</footer>